{% extends 'base.html' %}

{% block content %}
    <form class="mx-auto shadow-sm p-3 mb-5 bg-body-tertiary rounded" method="post" style="width: 50%">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username or Email address</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <hr>

        <a href="{% url 'authors:register' %}" class="text-decoration-none">No account yet? Create one here</a>
    </form>
{% endblock %}
