{% extends 'base.html' %}

{% block content %}
    <form class="mx-auto shadow-sm p-3 mb-5 bg-body-tertiary rounded" method="post" style="width: 50%">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="mb-3">
            <label for="create_password" class="form-label">Create Password</label>
            <input type="password" class="form-control" name="create_password" id="create_password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <hr>

        <a href="{% url 'authors:login' %}" class="text-decoration-none">Already have an account, Login</a>
    </form>
{% endblock %}
